@model HomepageStatusPartialViewModel

<div class="col-md-4">
    <div class="ig-svf-statedocs">
        <h4>@Model.Total documentos</h4>
        <p>@Model.TotalUnprocessed documentos não processados</p>
        <p>@Model.TotalMEGA documentos MEGA</p>
        <p>@Model.TotalNotMEGA documentos não MEGA</p>
    </div>
    <button class="btn ig-btn-blue ig-stats-btn btn-block" onclick="syncAllDocumentsFeap()" @(Model.TotalNotSyncFeap == 0 ? "disabled" : "")>
        <span class="badge"><i class="fas fa-refresh"></i> @Model.TotalNotSyncFeap</span> Sincronizar com FE-AP
    </button>
</div>
<div class="col-md-4">
    <div class="ig-svf-statedocs">
        <h4>@Model.InvoiceStatus.Total faturas</h4>
        <p>@Model.InvoiceStatus.PendingRegularization por regularizar</p>
        <p>@Model.InvoiceStatus.Regularized regularizadas</p>
        <p>@Model.InvoiceStatus.Validated válidas</p>
        <p>@Model.InvoiceStatus.Paid pagas</p>
        <p>@Model.InvoiceStatus.Returned devolvidas</p>
    </div>
    <button class="btn ig-btn-blue ig-stats-btn btn-block" onclick="syncPaidDocuments()" @(Model.InvoiceStatus.ValidatedToSync == 0 ? "disabled" : "")>
        <span class="badge"><i class="fas fa-refresh"></i> @Model.InvoiceStatus.ValidatedToSync</span> Sincronizar faturas pagas
    </button>
</div>
<div class="col-md-4">
    <div class="ig-svf-statedocs">
        <h4>@Model.CreditNoteStatus.Total notas de crédito</h4>
        <p>@Model.CreditNoteStatus.Unprocessed por processar</p>
        <p>@Model.CreditNoteStatus.Processed processadas</p>
        <p>@Model.CreditNoteStatus.Returned devolvidas</p>
    </div>
    <button class="btn ig-btn-blue ig-stats-btn btn-block" onclick="reprocessCreditNotes()" @(Model.CreditNoteStatus.Unprocessed == 0 ? "disabled" : "")>
        <span class="badge"><i class="fas fa-refresh"></i> @Model.CreditNoteStatus.Unprocessed</span> Reprocessar notas de crédito
    </button>
</div>
