@model HomepageViewModel

@{
    ViewBag.Title = "Página Inicial";
}


<div class="row">
    <div class="col-md-12">
        <div class="ig-pagetitle">
            <div class="row">
                <div class="col-md-12">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="form-inline">
        <div class="form-group">
            <label class="control-label">Ano letivo:</label>
            <select class="form-control" id="school_year">
                @foreach (var year in Model.SchoolYears)
                {
                    if (year.Key == Model.CurrentSchoolYear)
                    {
                        <option value="@year.Key" selected>@year.Key</option>
                    }
                    else
                    {
                        <option value="@year.Key">@year.Key</option>
                    }
                }
            </select>
        </div>
    </div>
</div>

<div class="panel panel-default ig-panel ig-statistics-panel ig-svf-statistics">
    <div class="panel-body">
        <h5 class="ig-dash-title">TOTAIS DE DOCUMENTOS:</h5>
        <div class="row" id="global_status_container">

        </div>
    </div>
</div>

<div class="row">
    <div id="sigefe_sync_result_container" class="col-md-12">

    </div>
</div>

<script>
    $(document).ready(function () {
        refreshGlobalStatus();

        $('#school_year').on('change', function () {
            refreshGlobalStatus();
        });
    });

    function refreshGlobalStatus() {
        ShowLoadingModal();

        $.ajax({
            url: '@Url.Action("GetGlobalStatus", "Home")',
            type: "POST",
            data: {
                anoLetivo: $('#school_year').val(),
            },
            success: function (data) {
                $('#global_status_container').html(data);

                if ('@Model.CurrentSchoolYear' == $('#school_year').val())
                    getToSyncSigefeDocuments();
            },
            error: function () {
                ShowErrorModal(["Ocorreu um erro."]);
            },
            complete: function () {
                if ('@Model.CurrentSchoolYear' == $('#school_year').val())
                    getToSyncSigefeDocuments();
                else
                    HideLoadingModal();
            }
        });
    }

    function syncAllDocumentsFeap() {
        ShowConfirm(function () {
            ShowLoadingModal();

            $.ajax({
                url: '@Url.Action("SyncAllDocumentsFeap", "Home")',
                type: "POST",
                data: {
                    anoLetivo: $('#school_year').val()
                },
                success: function (data) {
                    if (data.statusCode == 200) {
                        ShowSucessModal(data.messages, function () {
                            refreshGlobalStatus();
                        });
                    } else {
                        ShowErrorModal(data.messages, function () {
                            refreshGlobalStatus();
                        });
                    }
                },
                error: function () {
                    ShowErrorModal(["Ocorreu um erro."]);
                },
                complete: function () {
                    HideLoadingModal();
                }
            });
        }, "Sincronizar Documentos", "Tem a certeza que pretende sincronizar os documentos com FE-AP?")
    }

    function syncPaidDocuments() {
        ShowConfirm(function () {
            ShowLoadingModal();

            $.ajax({
                url: '@Url.Action("SyncPaidDocuments", "Home")',
                type: "POST",
                success: function (data) {
                    if (data.statusCode == 200) {
                        ShowSucessModal(data.messages, function () {
                            location.reload();
                        });
                    } else {
                        ShowErrorModal(data.messages, function () {
                            location.reload();
                        });
                    }
                },
                error: function () {
                    ShowErrorModal(["Ocorreu um erro."]);
                },
                complete: function () {
                    HideLoadingModal();
                }
            });
        }, "Sincronizar Faturas", "Tem a certeza que pretende sincronizar os documentos validados para os quais já foi emitido pagamento?")
    }

    function reprocessCreditNotes() {
        ShowConfirm(function () {
            ShowLoadingModal();

            $.ajax({
                url: '@Url.Action("ReprocessCreditNotes", "Home")',
                type: "POST",
                success: function (data) {
                    if (data.statusCode == 200) {
                        ShowSucessModal(data.messages, function () {
                            location.reload();
                        });
                    } else {
                        ShowErrorModal(data.messages, function () {
                            location.reload();
                        });
                    }
                },
                error: function () {
                    ShowErrorModal(["Ocorreu um erro."]);
                },
                complete: function () {
                    HideLoadingModal();
                }
            });
        }, "Reprocessar Notas de Crédito", "Tem a certeza que pretende reprocessar as notas de crédito?")
    }

    function getToSyncSigefeDocuments(pageIndex, pageSize) {
        ShowLoadingModal();

        $.ajax({
            url: '@Url.Action("GetDocsToSyncSigefe", "Home")',
            type: "POST",
            data: {
                pageIndex: pageIndex,
                pageSize: pageSize
            },
            success: function (data) {
                $('#sigefe_sync_result_container').html(data);
            },
            error: function () {
                ShowErrorModal(["Ocorreu um erro."]);
            },
            complete: function () {
                HideLoadingModal();
            }
        });
    }
</script>
