@model HomepageViewModel

@{
    ViewBag.Title = "Página Inicial";
}


<div class="row">
    <div class="col-md-12">
        <div class="ig-pagetitle">
            <div class="row">
                <div class="col-md-12">
                    <h2>@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ig-tabs">
    <ul class="nav nav-tabs" role="tablist">
        @for (int i = 0; i < Model.SchoolYears.Length; i++)
        {
            <li role="presentation" class="@(i == Model.SchoolYears.Length - 1 ? "active" : "")">
                <a href="#@Model.SchoolYears[i]" aria-controls="@Model.SchoolYears[i]" role="tab" data-toggle="tab">
                    <span class="ig-axis-tab">@("20" + Model.SchoolYears[i].Insert(2, "/20"))</span>
                </a>
            </li>
        }
    </ul>
    <div class="tab-content">
        @for (int i = 0; i < Model.SchoolYears.Length; i++)
        {
            <div role="tabpanel" class="tab-pane @(i == Model.SchoolYears.Length - 1 ? "active" : "")" id="@Model.SchoolYears[i]">
            </div>
        }
    </div>
</div>

<div class="row">
    <div id="paid_sync_result_container" class="col-md-12">

    </div>
    <div id="sigefe_sync_result_container" class="col-md-12">

    </div>
</div>

<script>
    $(document).ready(function () {
        refreshGlobalStatus();

        getPaidDocuments();

        $('.ig-tabs .nav-tabs a').on('shown.bs.tab', function () {
            refreshGlobalStatus();
        });
    });

    function refreshGlobalStatus() {
        $.ajax({
            url: '@Url.Action("GetGlobalStatus", "Home")',
            type: "POST",
            data: {
                anoLetivo: $('.tab-content .active').prop('id'),
            },
            success: function (data) {
                $('.tab-content .active').html(data);
            },
            error: function () {
                ShowErrorModal(["Ocorreu um erro."]);
            }
        });
    }

    function syncDocuments(stateId, actionId) {
        ShowConfirm(function () {
            ShowLoadingModal();

            $.ajax({
                url: '@Url.Action("SyncDocuments", "Home")',
                type: "POST",
                data: {
                    stateId: stateId,
                    actionId: actionId,
                    anoLetivo: $('.tab-content .active').prop('id'),
                },
                success: function (data) {
                    if (data.statusCode == 200) {
                        ShowSucessModal(data.messages, function () {
                            refreshGlobalStatus();
                        });
                    } else {
                        ShowErrorModal(data.messages, function () {
                            refreshGlobalStatus();
                        });
                    }
                },
                error: function () {
                    ShowErrorModal(["Ocorreu um erro."]);
                },
                complete: function () {
                    HideLoadingModal();
                }
            });
        }, "Sincronizar Documentos", "Tem a certeza que pretende sincronizar os documentos?")
    }

    function getPaidDocuments(pageIndex, pageSize) {
        ShowLoadingModal();

        $.ajax({
            url: '@Url.Action("GetPaidDocuments", "Home")',
            type: "POST",
            data: {
                pageIndex: pageIndex,
                pageSize: pageSize
            },
            success: function (data) {
                $('#paid_sync_result_container').html(data);
                getToSyncSigefeDocuments();
            },
            error: function () {
                ShowErrorModal(["Ocorreu um erro."]);
            }
        });
    }

    function getToSyncSigefeDocuments(pageIndex, pageSize) {
        $.ajax({
            url: '@Url.Action("GetDocsToSyncSigefe", "Home")',
            type: "POST",
            data: {
                pageIndex: pageIndex,
                pageSize: pageSize
            },
            success: function (data) {
                $('#sigefe_sync_result_container').html(data);
            },
            error: function () {
                ShowErrorModal(["Ocorreu um erro."]);
            },
            complete: function () {
                HideLoadingModal();
            }
        });
    }
</script>
