@model Document

@{
    ViewBag.Title = Model.TypeId.ToString() + " " + Model.ReferenceNumber;
}

<div class="row">
    <div class="col-md-12">
        <div class="ig-pagetitle">
            <div class="row">
                <div class="col-md-8">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="col-md-4 text-right">
                    <button type="button" class="btn ig-btn-blue dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-download"></i> Downloads <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@Url.Action("DownloadUbl", "Document", new { id = Model.DocumentId })">UBL</a></li>
                        <li><a href="@Url.Action("DownloadPdf", "Document", new { id = Model.DocumentId })">PDF</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="ig-small-title">DADOS DO DOCUMENTO:</h4>
        <div class="panel panel-default ig-panel">
            <div class="panel-body">
                <div class="row ">
                    <div class="col-md-4">
                        <label class="control-label">ID Documento</label>
                        <p>@Model.DocumentId</p>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">ID ME:</label>
                        <p>@Model.MEId</p>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">N.º Fatura:</label>
                        <p>@Model.ReferenceNumber</p>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Data:</label>
                        <p>@Model.IssueDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">NIF Fornecedor:</label>
                        <p>@Model.SupplierFiscalId</p>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Ano Letivo:</label>
                        <p>@Model.SchoolYear</p>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">N.º Compromisso:</label>
                        <p>@Model.CompromiseNumber</p>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Montante:</label>
                        <p>@(decimal.Parse(Model.TotalAmount, CultureInfo.InvariantCulture).ToString("C", CultureInfo.CreateSpecificCulture("pt-PT")))</p>
                    </div>
                    <div class="col-md-2">
                        <label class="control-label">Estado:</label>
                        @switch (Model.StateId)
                        {
                            case DocumentStateEnum.Iniciado:
                                <p><strong><i class="fas fa-play"></i> Iniciado</strong></p>
                                break;
                            case DocumentStateEnum.ValidadoConferido:
                                <p><strong><i class="fas fa-check"></i> Validado</strong></p>
                                break;
                            case DocumentStateEnum.Processado:
                                <p><strong><i class="fas fa-cog"></i> Processado</strong></p>
                                break;
                            case DocumentStateEnum.EmitidoPagamento:
                                <p><span class="ig-state-success"><i class="fas fa-receipt"></i> Emitido pagamento</span></p>
                                break;
                            case DocumentStateEnum.Devolvido:
                                <p><span class="ig-state-warning"><i class="fas fa-undo-alt"></i> Devolvido</span></p>
                                break;
                            default:
                                break;
                        }
                    </div>

                    @if (Model.StateId == DocumentStateEnum.Iniciado && Model.ActionId == DocumentActionEnum.SolicitaçãoDocumentoRegularização)
                    {
                        <div class="col-md-2">
                            <label class="control-label">Ação:</label>
                            <p><span class="ig-state-warning"><i class="fas fa-hourglass"></i> Aguarda Regularização</span></p>
                        </div>
                    }

                    @if (Model.RelatedDocumentId != null)
                    {
                        <div class="col-md-2">
                            <label class="control-label">Documento Relacionado:</label>
                            <p><a href="@Url.Action("Detail", "Document", new { id = Model.RelatedDocumentId })"><i class="far fa-file-alt"></i> @Model.RelatedDocumentId</a></p>
                        </div>
                    }
                </div>
            </div>
        </div>

        <h4 class="ig-small-title">SINCRONIZAÇÂO:</h4>
        <div class="ig-grid ig-budgetpropgrid">
            <div class="k-grid k-widget k-display-block k-editable">
                <table style="width:100%">
                    <tbody>
                        <tr class="k-grid-header">
                            <th class="k-header">Organismo</th>
                            <th class="k-header">Estado</th>
                            <th class="k-header ig-xml-col"></th>
                        </tr>
                        <tr>
                            <td>FEAP</td>
                            @if (Model.IsSynchronizedWithFEAP)
                            {
                                <td>
                                    <span class="ig-state-success"><i class="fas fa-check"></i>Sincronizado</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span class="ig-state-warning">
                                        <i class="fas fa-exclamation-triangle"></i> Não Sincronizado
                                    </span>
                                </td>
                            }
                            <td>
                                <a onclick="syncFeap()" class="btn ig-btn-round @(Model.IsSynchronizedWithFEAP ? "disabled" : "")" title="Sincronizar FE-AP" href="#">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>SIGeFE</td>
                            @if (Model.IsSynchronizedWithSigefe)
                            {
                                <td>
                                    <span class="ig-state-success"><i class="fas fa-check"></i>Sincronizado</span>
                                </td>

                            }
                            else
                            {
                                <td>
                                    <span class="ig-state-warning">
                                        <i class="fas fa-exclamation-triangle"></i> Não Sincronizado
                                    </span>
                                </td>
                            }
                            <td>
                                <a onclick="syncSigefe()" class="btn ig-btn-round @(Model.IsSynchronizedWithSigefe ? "disabled" : "")" title="Sincronizar SIGeFE" href="#">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h4 class="ig-small-title">MENSAGENS:</h4>
        <div class="ig-grid ig-budgetpropgrid">
            <div class="k-grid k-widget k-display-block k-editable">
                <table style="width:100%">
                    <tbody>
                        <tr class="k-grid-header">
                            <th class="k-header">Organismo</th>
                            <th class="k-header">Data</th>
                            <th class="k-header">Código</th>
                            <th class="k-header">Conteúdo</th>
                        </tr>
                        @if (Model.DocumentMessages != null && Model.DocumentMessages.Any())
                        {
                            foreach (var message in Model.DocumentMessages.OrderByDescending(x => x.Date))
                            {
                                <tr>
                                    <td>@message.MessageTypeId.ToString()</td>
                                    <td>@message.Date.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                    <td>@message.MessageCode</td>
                                    <td>@message.MessageContent</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan=4>
                                    <div class="row ig-noresults">
                                        <i class="fas fa-search"></i>
                                        <h3>Sem Mensagens.</h3>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <h4 class="ig-small-title">LOGS DO DOCUMENTO:</h4>
        <div class="ig-grid ig-budgetpropgrid">
            <div class="k-grid k-widget k-display-block k-editable">
                <table style="width:100%">
                    <tbody>
                        <tr class="k-grid-header">
                            <th class="k-header">ID Único</th>
                            <th class="k-header">Tipo pedido:</th>
                            <th class="k-header">Data chamada</th>
                            <th class="k-header">Estado</th>
                            <th class="k-header ig-xml-col">XML</th>
                        </tr>
                        @if (Model.RequestLogs != null && Model.RequestLogs.Any())
                        {
                            foreach (var log in Model.RequestLogs.OrderByDescending(x => x.Date))
                            {
                                <tr>
                                    <td>@log.UniqueId</td>
                                    <td>@log.RequestLogTypeId.ToString()</td>
                                    <td>@log.Date.ToString("dd/MM/yyyy HH:mm:ss")</td>

                                    @if (!log.Successful)
                                    {
                                        <td>
                                            <span class="ig-state-warning">
                                                <i class="fas fa-exclamation-triangle"></i> Com erros
                                            </span>
                                            <a class="btn ig-btn-round" title="Mostrar/esconder erros"
                                               role="button" data-toggle="collapse" href="#err_detail_@log.UniqueId"
                                               aria-expanded="false" aria-controls="err_detail_@log.UniqueId">
                                                <i class="fas fa-list"></i>
                                            </a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <span class="ig-state-success"><i class="fas fa-check"></i> Sem erros</span>
                                        </td>
                                    }

                                    <td><a class="btn ig-btn-round" title="Download XML" href="@Url.Action("Download", "RequestLog", new { uniqueId = log.UniqueId, type = log.RequestLogTypeId })"><i class="fas fa-download"></i></a></td>
                                </tr>

                                if (!log.Successful)
                                {
                                    <tr class="ig-additional-row">
                                        <td colspan="5">
                                            <div id="err_detail_@log.UniqueId" class="collapse ig-log-collapse">
                                                <div>
                                                    <p><strong>Erro:</strong></p>
                                                    <ul>
                                                        <li>@log.ExceptionType</li>
                                                        <li>@log.ExceptionMessage</li>
                                                        <li>@log.ExceptionStackTrace</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan=6>
                                    <div class="row ig-noresults">
                                        <i class="fas fa-search"></i>
                                        <h3>Sem Logs registados.</h3>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <h4 class="ig-small-title">LINHAS DO DOCUMENTO:</h4>
        <div id="line_container" class="ig-grid ig-budgetpropgrid">

        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        getDocumentLines();
    });

    function getDocumentLines(pageIndex, pageSize) {
        ShowLoadingModal();

        $.ajax({
            url: '@Url.Action("GetLines", "Document")',
            type: "POST",
            data: {
                documentId: "@Model.DocumentId",
                pageIndex: pageIndex,
                pageSize: pageSize
            },
            success: function (data) {
                $('#line_container').html(data);
            },
            error: function () {
                ShowErrorModal(["Ocorreu um erro."]);
            },
            complete: function () {
                HideLoadingModal();
            }
        });
    }

    function syncFeap() {
        ShowLoadingModal();

        $.ajax({
            url: '@Url.Action("SyncFeap", "Document")',
            type: "POST",
            data: {
                id: "@Model.DocumentId",
            },
            success: function (data) {
                if (data.statusCode == 200) {
                    ShowSucessModal(data.messages, function () {
                        location.reload();
                    });
                } else {
                    ShowErrorModal(data.messages, function () {
                        location.reload();
                    });
                }
            },
            error: function () {
                ShowErrorModal(["Ocorreu um erro."]);
            },
            complete: function () {
                HideLoadingModal();
            }
        });
    }

    function syncSigefe() {
        ShowLoadingModal();

        $.ajax({
            url: '@Url.Action("SyncSigefe", "Document")',
            type: "POST",
            data: {
                id: "@Model.DocumentId",
            },
            success: function (data) {
                if (data.statusCode == 200) {
                    ShowSucessModal(data.messages, function () {
                        location.reload();
                    });
                } else {
                    ShowErrorModal(data.messages);
                }
            },
            error: function () {
                ShowErrorModal(["Ocorreu um erro."]);
            },
            complete: function () {
                HideLoadingModal();
            }
        });
    }
</script>

